@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Madimi+One&family=Poppins&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.heading {
    font-family: "Ubuntu", sans-serif;
}